/* global */
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

h1 {
	margin: 0;
}

h2 {
	border-bottom: 5px solid #666;
	display: inline-block;
	padding: 0 10px 5px 10px;
	margin: 120px auto 40px auto;
}

h3 {
	margin-top: 60px;
}

section li {
	list-style-position: inside;
}

a {
	color: #000;
}

/* top */
nav {
	height: 50px;
	border-bottom: 2px solid #aaa;
	box-shadow: 0px 2px 5px 0px #424242;	
	position: relative;
	z-index: 10;
}

nav h1 {
	margin-left: 30px;
	margin-top: 10px;
}

nav ul {
	margin-right: 30px;
	margin-top: 15px;
}

nav ul li {
	float: left;
	list-style: none;
	margin-right: 50px;
}

nav ul li:last-of-type {
	float: left;
	list-style: none;
	margin-right: 10px;
}

nav a, nav a:visited {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

section {
	text-align: center;
}

section p {
	width: 60%;
	margin: 30px auto 30px auto;
	text-align: justify;
}

section p.caption {
	text-align: center;
	font-style: italic;
	margin-top: 5px;
}

section ul, section ol {
	width: 60%;
	margin: 30px auto 30px auto;
	text-align: left;
}

section.blog p {
	text-align: center;
}

section.carousel {
	height: calc(100% - 50px);
	background: #000;
	color: #fff;
}

.carousel-container {
	height: 100%;
}

video.carousel-video {
	width: 100%;
	position: relative;
	bottom: 0;
}

.slick-slider, .slick-list, .slick-track {
	height: 100%;
}

.slick-dots {
	bottom: 0px
}

.slick-dots li button:before {
	color: #fff;
	opacity: 0.5;
	font-size: 14px;
}

.slick-dots li.slick-active button:before {
	color: #fff;
	opacity: 1;
	font-size: 14px;
}

.slick-prev, .slick-next {
	z-index: 10;
}

.slick-prev {
	left: 50px;
}


.slick-next {
	right: 50px;
}

.slick-prev:before, .slick-next:before {
	font-size: 30px;
}

.carousel-item {
	height: 100%;
	width: 100%;
	background-size: cover; 
}

/* us */
.person-holder {
	width: 50%;
	float: left;
}

.person  {
	width: 300px;
	height: 300px;
	border-radius: 9999px;
	margin: auto;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.person-text.swapped {
	display: none;
}

.person video {
	margin: 0 auto;
	width: 300px;
}

.person+h3 {
	margin-top: 40px;
}

/* work */
section .grid {
	margin: 0 auto;
}

section.work .grid-item {
	width: 300px;
	margin-bottom: 30px;
}

section.work .grid-item .title {
	opacity: 0;
    position: relative;
    z-index: 10;
    top: -54px;
    left: 0;
    font-size: 28px;
    color: white;
    background: rgba(200,200,200,0.8);
    width: 290px;
    height: 40px;
    padding: 5px;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    transition: 0.2s;
}

section.work .grid-item:hover .title {
	opacity: 1;
}

section.work .grid-item-large .title {
	width: 630px;
}

section.work .grid-item-large {
	width: 630px;
}

section.work .grid {
	margin: auto;
	width: 1000px;
}

.grid-item {
	transition-duration: 0.5s;
}

.grid-item:hover {
  transform: scale(1.05);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
 }


/* blog */
section.blog h2 {
	margin-bottom: 0px;
}


/* fonts */
.primary-text, h1, h2, h3, nav, nav ul {
	font-family: 'Roboto Slab', serif;
}

.secondary-text, p, li {
	font-family: 'Open Sans', sans-serif;
}

a:visited {
	color: #888;
}

/* utilities */
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.cf::after {
	content: " ";
	display: table;
	clear: both;
}

.center {
	text-align: center;
}